main {
  margin: 0 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.index-feed {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.left {
  width: 300px;
  height: 100%;
  margin: 1rem 1rem;
}

.left-link {
  display: flex;
  align-items: center;
}

.left-link h3 {
  margin-left: 1rem;
}

.left-link h3 a {
  text-decoration: none;
}

.left-link-middle {
  margin: 1rem 0;
}

.left-link-follow {
  width: 4rem;
  height: 4rem;
  fill: red;
}
