* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small {
  color: #d0d0d0;
  margin: 0;
}

a {
  text-decoration: none;
}

.line {
  width: 100%;
  border: 5px solid #d0d0d0;
  border-radius: 5px;
  margin-top: 3rem;
}

.line-small {
  width: 100%;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
  margin-top: 2rem;
}

.sticky {
  position: sticky;
}

.logo {
  width: 8rem;
}

body {
  background-color: #23272a;
  padding-top: 4.5rem;
}

.nav-btn {
  margin-left: auto;
}

.navbar-brand {
  margin: 0;
}

.form-title {
  text-align: center;
}

.form-label {
  color: #d0d0d0;
  font-size: 1.5em;
}

.form-control {
  background-color: #7a7f84;
  color: #d0d0d0;
}

.form-control::placeholder {
  color: #d0d0d0;
}

.btn {
  background-color: #fd3939;
  color: #fff;
}

.form-border {
  border: 0px;
  border-radius: 20px;
}

.nav-container {
  display: flex;
}

.searchbar {
  width: 600px;
}

.btn-search {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#search {
  flex-wrap: nowrap;
}

#search-select {
  width: 30%;
}

#searchbar {
  width: 100%;
}

.autocomplete-box {
  position: absolute;
  top: 55px;
  width: 100%;
  text-align: center;
  list-style-type: none;
  background-color: #23272a;
  padding: 0;
  margin: 0;
}

.autocomplete-box li {
  cursor: pointer;
  color: #fff;
}

.autocomplete-box li a {
  display: block;
  padding: 1rem 0;
  width: 100%;
}

.autocomplete-box li:hover {
  background-color: #2c2f33;
}

.box-container {
  background-color: #2c2f33;
  border-radius: 22pt;
  padding: 2em 2em;
  width: 800px;
  margin: 1rem auto;
}

.box-container-medium {
  background-color: #2c2f33;
  border-radius: 22pt;
  padding: 2em 0;
  width: 620px;
  margin: 0;
}

.profile-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

.profile-picture-big {
  width: 6rem;
  height: 6rem;
  border-radius: 50px;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.post-profile_picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

.post-description {
  font-size: 1.2rem;
}

.post-dropdown-button {
  margin-left: auto;
  cursor: pointer;
  padding: 0 0.5rem;
}

.dropend .dropdown-toggle::after {
  content: unset;
}

.dropdown-menu {
  background-color: #2c2f33;
}

.dropdown-item {
  color: #d0d0d0;
}

.post-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
}

.post-data-top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.post-dot {
  margin: 0 1rem;
}

.post-tags {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-tag {
  background-color: #23272a;

  margin-right: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 12px;
}

.post-img {
  border-radius: 22px;
  width: 100%;
}

.post-buttons {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.post-buttons svg {
  width: 4rem;
  height: 4rem;
  fill: #7a7f84;
  margin-right: 1rem;
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.post-button p {
  font-size: 1.4rem;
}

.comment {
  display: flex;
  padding-top: 0.5rem;
}

.comment-box {
  background-color: #7a7f84;
  margin-left: 2rem;
  border-radius: 20px;
  height: 100%;
  padding: 0.5rem 1rem;
}

.comment-box-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-message {
  margin-top: 0.5rem;
}

.post-comment {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}


.comment-input {
  margin: 0 2rem;
}

.comment-send {
  width: 2.5rem;
  cursor: pointer;
}

.new_post-box {
  display: flex;
  align-items: center;
}

.new_post-box-title {
  margin-left: 1rem;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-box-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box-names {
  margin-left: 1rem;
}

.profile-box-description {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.profile-stats-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-stats-container {
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-profile-edit {
  text-align: center;
  width: 160px;
  padding: 2rem 3rem;
  font-size: 1rem;
}

.btn-profile-follow {
  text-align: center;
  width: 160px;
  padding: 2rem 3rem;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
