* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #d0d0d0;
  margin: 0;
}

.logo {
  width: 8rem;
}

body {
  background-color: #23272a;
}

.container-box {
  background-color: #2c2f33;
  border-radius: 22pt;
  padding: 2em 10em;
}

.nav-btn {
  margin-left: auto;
}

.form-title {
  text-align: center;
}

.form-label {
  color: #d0d0d0;
  font-size: 1.5em;
}

.form-control {
  background-color: #7a7f84;
  color: #d0d0d0;
}

.form-control::placeholder {
  color: #d0d0d0;
}

.form-container {
  width: 400px;
}

.btn {
  background-color: #fd3939;
  color: #fff;
}

.form-border {
  border: 0px;
  border-radius: 20px;
}

.post {
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.post-profile_picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

.post-description {
}

.post-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 1rem;
}

.post-data-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.post-dot {
  margin: 0 1rem;
}

.post-img {
  border-radius: 22px;
}
