#contact-submit{
 
    color: black;
    border: 2px solid black;
    margin-top: 2%;


}
#MA-text{
font-family: azo-sans-web, sans-serif;

font-weight: 400;

font-style: normal;
font-size: 0.7rem;

}
.hero-title{
float: left ;
margin-left:13%;
margin-top: 45% ;
color: white;
opacity: 1;
font-size: 1.3rem;

}
.hero-text{
float: left ;
margin-left:13%;
margin-bottom: 5% ;
color: white;
opacity: 1;
font-size: 1
.3rem;

}
.hero-button{
float: left ;
margin-left:-55%;
margin-top: 70% ;
color: white;



}

.wrapper {
margin-right: auto; /* 1 */
margin-left:  auto; /* 1 */

max-width: 960px; /* 2 */

padding-right: 10px; /* 3 */
padding-left:  10px; /* 3 */

}

.navbar{
background-color: #e0e0e0;

}
.footer{
background-color: #e0e0e0;
}
.form{
color: white;
}
.formEmail{

border-radius: 10px;
margin-bottom: 2%;
}
.formFirstName{
border-radius: 10px;
}
.formLastName{
border-radius: 10px;
}
.formUsername{
border-radius: 10px;
}
.formPassword{
border-radius: 10px;
margin-bottom: 5%;
}
.row {

--bs-gutter-x: 0rem;
--bs-gutter-y: 0;
}


@media  screen and (max-width: 767px) {
.form{


margin-top: 50% ;
display: flex;
justify-content: flex-end;
flex-direction: column;
text-align: center;
z-index: 10;




}
.form-contact{

margin-right: 18% ;
margin-top: 50% ;
display: flex;
justify-content: flex-end;
flex-direction: column;
text-align: center;
z-index: 10;




}


.formTitleEmail{
font-family: azo-sans-web, sans-serif;

font-weight: 700;

font-style: normal;
}
.formTitlePassword{


}



.btn-primary{
margin-left: 18%;
width:  70%;
background-color:transparent;
border: 5px solid #7a7f84;
margin-bottom: 1%;
}
.hero{


background-repeat: no-repeat;
padding-bottom: 200%;
height: 300%;
width: 100%; 
background-size: 360%;

overflow-x: visible;
}
.hero_bg{
background-color: #2c2f33;

background-repeat: no-repeat;
padding: 20%;

border-radius: 25px;
overflow-x: visible;
}
.hero_bg2{
background-color: #2c2f33;


background-repeat: no-repeat;


overflow-x: visible;
}
.footer {

z-index: 12;
}
.logo{
width: 20%;
}
.offset-md-2{
margin-left: 15%;
}
.center{
margin-left: 25%;
}
.top{
margin-top: 20%;
}
.hero-title{
float: left ;
margin-left:13%;
margin-top: 45% ;
color: white;
opacity: 1;
font-size: 1.8rem;

}
.hero-text{
float: left ;
margin-left:13%;
margin-bottom: 5% ;
color: white;
opacity: 1;
font-size: 1
.3rem;

}
.hero-button{
float: left ;
margin-left:-45%;
margin-top: 70% ;
color: white;



}
.hero-title{
float: left ;
margin-left:13%;
margin-top: 45% ;
color: white;
opacity: 1;
font-size: 3rem;

}
.hero-text{
float: left ;
margin-left:13%;
margin-bottom: 5% ;
color: white;
opacity: 1;
font-size: 1
.3rem;

}
.hero-button{
float: left ;

color: white;
padding: 2%;
font-size: 1.5rem


}

}
@media  screen and (max-width: 415px) {
.form{
   
  
  margin-top: 20% ;
  margin-bottom: 45%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   text-align: center;
    z-index: 10;
  


}
.form-contact{
    
  margin-right: 19% ;
  margin-top: 30% ;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   text-align: center;
    z-index: 10;
  color: white;


}
.offset-md-2{
    margin-left: 15%;
}
.center{
    margin-left: 25%;
}
.top{
    margin-top: 20%;
}
.hero-title{
    float: left ;
   margin-left:13%;
   margin-top: 45% ;
   color: white;
   opacity: 1;
   font-size: 1.5rem;
  
}
.hero-text{
    float: left ;
   margin-left:13%;
   margin-bottom: 5% ;
   color: white;
   opacity: 1;
   font-size: 1
.3rem;
  
}
.hero-button{
    float: left ;
   margin-left:-50%;
   margin-top: 70% ;
   color: white;
   
   
  
}
.contact-form{
    margin-left: 2%;
    margin-right: 2%;
}
.form-mobile{
    margin-top: -100%;
    color: white;
}
.btn-mobile{
    color: white;
    border: 2px solid #FD3939;
    background-color: #FD3939;
    margin-top: 2%;
    
}
.btn-mobile:hover{
    color: black;
    background-color: white;
    
}

}
@media  screen and (min-width: 768px) {
  #MA-text{
      font-size: 1rem;
  }
.form{
   
    margin-bottom: 45%;
  margin-top: 20% ;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   text-align: center;
    z-index: 10;
    
    font-size: 1.5rem;


}
.form-contact{
    float: right;
  margin-right: 19% ;
  margin-top: 8% ;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   text-align: center;
    z-index: 10;
   color: white;
    font-size: 2rem;


}
.hero{
    
    
    background-repeat: no-repeat;
    padding-bottom: 200%;
    height: 300%;
    width: 100%; 
    background-size: 360%;

    overflow-x: visible;
}

.formTitleEmail{
    font-family: azo-sans-web, sans-serif;

    font-weight: 700;
    
    font-style: normal;
    font-size: 4rem;
}

.formEmail{
  
    margin-bottom: 1%;
}

.formPassword{
    
    margin-bottom: 5%;
}

.btn-primary{
    margin-left: 18%;
    width:  70%;
    background-color:transparent;
border: 5px solid #7a7f84;
    margin-bottom: 1%;
}
.btn-mobile{
    color: white;
    border: 2px solid #FD3939;
    background-color: #FD3939;
    margin-top: 2%;
    font-size: 1.5rem;
    padding-right: 50px;
    padding-left: 50px;
}
.btn-mobile:hover{
    color: black;
    background-color: white;
    
}
.hero_bg{
    background-color: #2c2f33;
    border-radius: 25px;
    background-repeat: no-repeat;
   padding: 5%;

    
}
.hero_bg2{
    background-color: #2c2f33;
    
    background-repeat: no-repeat;
    padding-bottom: 128%;
    height: 200%;
    width: 100%; 
    background-size: 100%;

    overflow-x: visible;
}
.footer {
    
    z-index: 12;
}
.logo{
    width: 10%;
}
.offset-md-2{
    margin-left: 15%;
}
.center{
    margin-left: 25%;
}


}
  @media  screen and (min-width: 1024px) {
    .form{
        
      margin-right: 30% ;
      margin-top: 20% ;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
       text-align: center;
        z-index: 10;
     
        font-size: 2rem;
    
    
    }
    
    .formTitleEmail{
        font-family: azo-sans-web, sans-serif;
    
        font-weight: 700;
        
        font-style: normal;
        font-size: 2rem;
    }
    .formTitlePassword{
       
       
    }
   
    .formEmail{
       
        margin-bottom: 1%;
    }
  
    .formPassword{
       
        margin-bottom: 5%;
    }
    
    .btn-primary{
        margin-left: 18%;
        width:  70%;
        
        margin-bottom: 1%;
        background-color:transparent;
        border: 5px solid #7a7f84;
        
    }
    .sign_up{
        font-size: 1.2rem;
    }
    .hero_bg{
        background-color: #23272a;
        
        background-repeat: no-repeat;
        padding-bottom: 128%;
        height: 100%;
        width: 100%; 
        background-size: 250%;
    
        overflow-x: visible;
    }
    .hero{
        
        
        background-repeat: no-repeat;
        padding-bottom: 128%;
        height: 100%;
        width: 100%; 
        background-size: 250%;
    
        overflow-x: visible;
    }
    .hero_bg2{
        background-image: url("https://wallpapercave.com/wp/wp3277296.jpg");
        
        background-repeat: no-repeat;
         padding-bottom: 82%;
        height: 100%;
        width: 100%; 
        background-size: 140%;
    
        overflow-x: visible;
    }
     .hero-title{
    float: left ;
   margin-left:13%;
   margin-top: 45% ;
   color: white;
   opacity: 1;
   font-size: 5rem;
  
}
.hero-text{
    float: left ;
   margin-left:13%;
   margin-bottom: 5% ;
   color: white;
   opacity: 1;
   font-size: 2rem;
  
}
.hero-button{
    float: left ;
   margin-left:-35%;
   margin-top: 50% ;
   color: white;
   font-size: 2rem;
   
  
}

}
.offset-md-2{
    margin-left: 15%;
}
.center{
    margin-left: 25%;
}
.bg-image{
    
    height: 100vh;
}
    @media  screen and (min-width: 1600px) {
        .form{
            margin-bottom: 8%;
          margin-right: 25% ;
          margin-top: 5% ;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
           text-align: center;
            z-index: 10;
            
            font-size: 2rem;
        
        
        }
        .form-contact{
            float: right;
          margin-right: 25% ;
          margin-top: 3% ;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
           text-align: center;
            z-index: 10;
           color: white;
            font-size: 2rem;
        
        
        }
        .formTitleEmail{
            font-family: azo-sans-web, sans-serif;  
            
            
        }
        .hero{
           
            
            background-repeat: no-repeat;
            padding-bottom: 52%;
            height: 100%;
            width: 100%; 
            background-size: 100%;
        
            overflow-x: visible;
        }
        
        .formEmail{
            
            margin-bottom: 1%;
        }
        
    
        .formPassword{
          
            margin-bottom: 5%;
        }
        
        .btn-primary{
            margin-left: 18%;
            width:  70%;
            
            margin-bottom: 1%;
        }
        .sign_up{
            font-size: 1.2rem;
        }
        .hero_bg{
            background-color: #2c2f33;
            
            background-repeat: no-repeat;
            padding: 20%;
          
        
            overflow-x: visible;
        }
        .hero_bg2{
            background-image: url("https://wallpapercave.com/wp/wp3277296.jpg");
            
            background-repeat: no-repeat;
            padding-bottom: 52%;
            height: 100%;
            width: 100%; 
            background-size: 100%;
        
            overflow-x: visible;
        }
        .logo{
            width: 9%;
        }
        .hero-title{
            float: left ;
           margin-left:13%;
           margin-top: 10% ;
           color: white;
           opacity: 1;
           font-size: 6rem;
          
        }
        .hero-text{
            float: left ;
           margin-left:13%;
           margin-bottom: 5% ;
           color: white;
           opacity: 1;
           font-size: 3rem;
          
        }
        .hero-button{
            float: left ;
           margin-left:-28%;
           margin-top: 20% ;
           color: white;
           font-size: 2rem;
           
          
        }
        .form-maxScreen{
            margin: 10%;
        }
        .btn-mobile{
            color: white;
            border: 2px solid #FD3939;
    background-color: #FD3939;
            margin-top: 2%;
        }
        .btn-mobile:hover{
            color: black;
            background-color: #d83434;
            
        }


         .center{
        margin-left: 32%;
        
    }
    #contact-submit{

        color: black;
        border: 2px solid black;
        margin-top: 2%;
    
    
}
    }
   
    .bg-image{
    
        height: 86vh;
    }




    @keyframes title {
        from {margin-bottom: -100px;}
        to {margin-bottom: 0px;}
      }